<!DOCTYPE HTML>
<html lang="en"><head>


<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>hotelshot.com</title>

<link rel="stylesheet" href="demo.css">

<!--[if lt IE 7]>
<link rel="stylesheet" href="win-iex.css" type="text/css" media="screen, projection" />
<![endif]-->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://www.hotelshot.com/scripts/jquery.ui.datepicker.pack.js"></script>
<script type="text/javascript" src="http://www.hotelshot.com/scripts/jquery.ui.datepicker-sk.js"></script> 
<script>
	$(function() {
		var availableTags = [
			"New York",
			"York",
			"London",
			"Edinburgh",
			"Paris",
			"Berlin",
			"Hamburg",
			"Prague",
			"Rome",
			"Milan",
			"Genova",
			"Amsterdam",
			"Seattle",
			"Washington",
			"Antwerp",
			"Jakarta",
			"Tokyo","Tampa",
			"Vienna","Istanbul",
			"Lisabon","Bologna",
			"Barcelona","Las Vegas","Venezia","Prado",
			"Madrid","Bratislava",
			"Stockholm"
		];
		$( "#autocomplete" ).autocomplete({
			source: availableTags
		});
	});
	</script>


	

<script type="text/javascript">

$(function() {
var dates = $('#checkin, #checkout').datepicker({
	
defaultDate: "+1w",
minDate: +1,
buttonImageOnly: false,
showOtherMonths: true, 
minDate: 1,
numberOfMonths: 2,
onSelect: function(selectedDate) {
var option = this.id == "checkin" ? "minDate" : "maxDate";
var instance = $(this).data("datepicker");
var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
dates.not(this).datepicker("option", option, date);}});});






</script> 
 

</head><body>

<div class="container_24">
<img src="logo.png"><p style="float:right">
		

		<div id="user-menu">
			<ul>
				<li class="languages">
				<span><img title="Slovak" src="images/sk.gif" alt="Slovak" /></span><ul>
				<li><a href="/?fr=lang"><img title="Norsk" src="images/cz.gif" alt="Norsk" /> Czech</a></li>
				<li><a href="?fr=lang"><img title="Norsk" src="images/us.gif" alt="Norsk" /> English</a></li>
				<li><a href="lang"><img title="Norsk" src="images/de.gif" alt="Norsk" /> German</a></li>
				<li><a href="fr=lang"><img title="Norsk" src="images/fr.gif" alt="Norsk" /> French</a></li>
				</ul>				</li>

								<li class="currencies">
				<span>EUR</span><ul><li><a href="/hotel/ajaxCurrency?currency=EUR">EUR</a></li><li><a href="/hotel/ajaxCurrency?currency=GBP">GBP</a></li><li><a href="/hotel/ajaxCurrency?currency=USD">USD</a></li><li><a href="/hotel/ajaxCurrency?currency=CZK">CZK</a></li></ul>				</li>

				
											
												<li><a class="show-login-button" href="/login">Check your booking</a></li>
										</ul>
		</div><!-- #user-menu -->

		
<hr>


<div class="clear"></div>



<div class="grid_8 alpha left-container" style="background:#F7F7F7;min-height:290px;border:5px solid #D4DEF0;padding:10px;width:315px;margin-right:5px">

<form name="bookingSearchForm" action="http://www.booking.com/searchresults.html"  id="bookingSearchForm" method="get" target="_blank">
<div class="hdr">


<H2 style="">Search hotels</H2></div> 
 
<hr>
 <input type="hidden" name="aid" value="325061" /> 
 <input type="hidden" name="label" value="shot" /> 
     <input type="hidden" name="ss_all" value="0" /> 
 <input type="hidden" name="si" value="ai,co,ci,re,di" /> 
 <input type="hidden" name="ifl" value="1" /> 

<div class="gridfirst">

<label for="autocomplete">Destination:</label><br/>
<input class="text" type="search" results="6" autosave="booking.com" placeholder="Mesto, Oblasť, Krajina, Pamiatka, Hotel, Štvrť" name="ss" id="autocomplete" title="Mesto, Oblasť, Krajina, Pamiatka, Hotel, Štvrť"/> 


<div class="clear"></div>
<p class="explanatory_index">You can type anything here: a city, an airport code, a country or landmark.	     </p>
</div>




<br/>


<div class="gridnew">
<label for="checkin">Check-in:</label><br/>
<input type="text" id="checkin" name="checkin"  class="datepicker" value="dd/mm/yy"/>
<div class="destination_flyout_button"></div>

</div>       
<div class="gridnew" >
<label for="checkout">Check-out:</label><br/>

<input type="text" id="checkout" name="checkout"  class="datepicker" value="dd/mm/yy"/>
<div class="destination_flyout_button"></div>

</div> 

<button type="submit" class="button blue index" style="" title="Book your hotel now!"> 						<span>Search ›</span>						</button>
   

     </form> 
</div>


<style>




.button.index{height:34px;line-height:34px;background-position:left -87px;width:250px;margin:10px auto 0 20px}
.button.index span{margin-right:30%;background:none;padding-left:80px;padding-right:50px}
.button.index:hover{background-position:left -258px;}
.button.index:hover span,.button.index:hover input{background-position:right -228px;}




.button.large{height:39px;line-height:39px;background-position:left -48px;}
.button.large span,.button.large input{background-position:right -48px;height:39px;line-height:39px;}
.button.large:hover{background-position:left -219px;}
.button.large:hover span,.button.large:hover input{background-position:right -219px;}
.button.large:active{background-position:left -390px;}
.button.large:active span,.button.large:active input{background-position:right -390px;}




.button.xlarge{height:47px;line-height:47px;background-position:left top;font-weight:bold;}.button.xlarge span,.button.xlarge input{background-position:right top;height:47px;line-height:47px;font-size:18px;color:#fff;margin-left:20px;padding-right:20px;}.button.xlarge:hover{background-position:left -171px;}.button.xlarge:hover span,.button.xlarge:hover input{background-position:right -171px;}.button.xlarge:active{background-position:left -342px;}.button.xlarge:active span,.button.xlarge:active input{background-position:right -342px;}button::-moz-focus-inner{border:none;}.blue span,.blue input{color:#fff!important;}.button.free{position:relative;}.button.xlarge.free span{line-height:35px;}.button.free em{position:absolute;font-style:normal;width:100%;text-align:center;left:0;color:#fc0;font-size:.7em;bottom:-3px;}






</style>


<div id="mainhotel" class="grid_16 alpha omega" style="border:5px solid #D4DEF0;background:url(BlueMosque_EN-GB391402118_tb.jpg);min-height:290PX;WIDTH:590PX;float:right">
         
		 <div style="background:rgba(37,140,216,.7);margin-top:250px;min-height:60px">
		 <H2 class="top-destination">Istanbul</h2></a>
		 <div style="margin-top:-70px;width:90px;float:right;margin-right:50px;padding:10px;font:bold 23px Arial;background:rgba(37,140,216,.7);color:white;">
		 od 32€ <img src="more-destinations.gif">
		 </div>
		 </div>
</div>

<div class="clear"></div>


<br/>
<div class="grid_8" id="popular" style="width:340px">

<div class="benefit" style="margin-bottom:10px">
		<h3>Most popular cities</h3>
	</div>
<div class="grid_4" style="padding:5px;padding-left:0">
<img src="http://www.stay.com/images/city/345/61769b85/las-vegas-skyline.jpg" style="width:150;height:75px">
<h3 class="city-index">Las Vegas</h3>
 <div class="hotel-count">
        195 hotels        </div>
                    <div class="price-range">from 20 USD</div>
</div>
<div class="grid_4" style="padding:5px">
<img src="http://www.stay.com/images/city/357/190fd51f/new-york-featured.jpg" style="width:150;height:75px">
<h3 class="city-index">New York</h3>
 <div class="hotel-count">
        195 hotels        </div>
                    <div class="price-range">from 20 USD</div>
</div>
<div class="grid_4" style="padding:5px;padding-left:0">
<img src="http://www.stay.com/images/city/129/5c8d74bd/paris-featured.jpg" style="width:150;height:75px">
<h3 class="city-index">Paris</h3>
 <div class="hotel-count">
        195 hotels        </div>
                    <div class="price-range">from 20 USD</div>

</div>
<div class="grid_4" style="padding:5px">
<img src="http://www.stay.com/images/city/104/df0f3d10/plaza-mayor-in-the-heart-of-madrid.jpg" style="width:150;height:75px">
<h3 class="city-index">Madrid</h3>
 <div class="hotel-count">
        195 hotels        </div>
                    <div class="price-range">from 20 USD</div>

</div>
</div>

<style>
.benefit ul li {color:red}
</style>
<div class="hotel-index-benefits grid_9">
	<div class="benefit">
		<h3>Why book your hotel with hotelshot.com?</h3>
		<ul class="check">

			<li >More than <a>150 000 hotels</a></li>
			<li>Secure booking</li>
			<li>More than 14€ saved already</li>
			<li>No cancellation fees</li>
			<li>Lots of customer reviews</li>
		</ul>

	</div>

	<div class="benefit">
		<h3>Recently booked</h3>
        
		</div>
		
<p style="margin-left:15px"><strong><a href="">The Carlton Hotel</a></strong> v meste Ipswich (GB)
12.32 pm  </p>

<p style="margin-left:15px"><strong><a href="">The Carlton Hotel</a></strong> v meste Ipswich (GB)
12.32 pm  </p>

<p style="margin-left:15px"><strong><a href="">The Carlton Hotel</a></strong> v meste Ipswich (GB)
12.32 pm  </p>
	
	
</div>

	<div class="grid_6 index-recent" style="">
	<style>
	.index-img {margin-left:10px;float:left;position:relative;margin-right:10px}
	.index-recent h4{Font-size:12px}
	</style>
	<div class="benefit" style="margin-bottom:10px">
		<h3>My hotelshot.com</h3>
	</div>
	

	<h3 class="indexlevel">My bookmarks</h3>
	
	
	
	<div class="deals-inner-cont">
			<div class="deal-price">
				<label class="deal-price-link">
				
				<img src="http://y.bstatic.com/images/hotel/square60/333/3337306.gif">

				   </div>
			<div class="deal-details">
				  <label>
				    <a href="" target="_blank">Tropicana Las Vegas Hotel & Resort Casino</a> 
				  </label>
				  <p style="margin-top:20px">
				  
				  <div id="star-cont" style="padding-top:0px;">
									<span class="star5"></span>

								</div>

								
				  
				  </p>
				<strong><a class="deal-price-link">132€</a></strong>

			</div>
		</div>
			
	<div class="deals-inner-cont">
			<div class="deal-price">
				<label class="deal-price-link">
				
				<img src="http://z.bstatic.com/images/hotel/square60/275/2755665.gif">

				   </div>
			<div class="deal-details">
				  <label>
				    <a href="" target="_blank">MGM Grand</a> 
				  </label>
				  <p style="margin-top:20px">
				  
				  <div id="star-cont" style="padding-top:0px;">
									<span class="star4"></span>

								</div>

								
				  
				  </p>
				<strong><a class="deal-price-link">78€</a></strong>

			</div>
		</div>
	<div class="deals-inner-cont">
			<div class="deal-price">
				<label class="deal-price-link">
				
				<img src="http://y.bstatic.com/images/hotel/square60/287/2876848.gif">

				   </div>
			<div class="deal-details">
				  <label>
				    <a href="" target="_blank">Mandarin Oriental at CityCenter Las Vegas </a> 
				  </label>
				  <p style="margin-top:20px">
				  
				  <div id="star-cont" style="padding-top:0px;">
									<span class="star5"></span>

								</div>

								
				  
				  </p>
				<strong><a class="deal-price-link">190€</a></strong>

			</div>
		</div>
<p id="see-all-deals"><a href="/my-hotelshots">See All your favourite hotels</a></p>
<div class="clear"></div>
	
	

	
		<h3 class="indexlevel">Recently viewed hotels</h3>
	<div class="deals-inner-cont">
			<div class="deal-price">
				<label class="deal-price-link">
				
				<img src="http://y.bstatic.com/images/hotel/square60/333/3337306.gif">

				   </div>
			<div class="deal-details">
				  <label>
				    <a href="" target="_blank">Tropicana Las Vegas Hotel & Resort Casino</a> 
				  </label>
				  <p style="margin-top:20px">
				  
				  <div id="star-cont" style="padding-top:0px;">
									<span class="star5"></span>

								</div>

								
				  
				  </p>
				<strong><a class="deal-price-link">132€</a></strong>

			</div>
		</div>
			
	<div class="deals-inner-cont">
			<div class="deal-price">
				<label class="deal-price-link">
				
				<img src="http://z.bstatic.com/images/hotel/square60/275/2755665.gif">

				   </div>
			<div class="deal-details">
				  <label>
				    <a href="" target="_blank">MGM Grand</a> 
				  </label>
				  <p style="margin-top:20px">
				  
				  <div id="star-cont" style="padding-top:0px;">
									<span class="star4"></span>

								</div>

								
				  
				  </p>
				<strong><a class="deal-price-link">78€</a></strong>

			</div>
		</div>
	<div class="deals-inner-cont">
			<div class="deal-price">
				<label class="deal-price-link">
				
				<img src="http://y.bstatic.com/images/hotel/square60/287/2876848.gif">

				   </div>
			<div class="deal-details">
				  <label>
				    <a href="" target="_blank">Mandarin Oriental at CityCenter Las Vegas </a> 
				  </label>
				  <p style="margin-top:20px">
				  
				  <div id="star-cont" style="padding-top:0px;">
									<span class="star5"></span>

								</div>

								
				  
				  </p>
				<strong><a class="deal-price-link">190€</a></strong>

			</div>
		</div>

	
	</div>
	
		<div class="clear top200"></div>
<hr>


<div class="grid_5">
<img src="logo.png" width="200px" />
</div>
<div class="grid_5">
<strong>About Us</strong><br>
FAQ
</div>

<div class="grid_5">
<strong>Contact Us</strong><br>
Customer Support

</div>
<div class="grid_5">
<strong>Terms & Conditions</strong><br>
Privacy


</div>



</div>
<style>




.index {margin-left:10px;margin-top:10px;width:230px}


</style>


</body></html>